<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Prj_NSA2.Properties.Settings.Bd_EscolaConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source =|DataDirectory|\Prj_NSA2\Prj_NSA2\bin\Debug\Bd_Escola.mdb"
        providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>